// https://yalter.github.io/niri/Configuration:-Introduction
input {
    keyboard {
        xkb {
            layout "us,ru"
            options "grp:alt_shift_toggle,compose:ralt,ctrl:nocaps"
        }
        numlock
        repeat-delay 250
        repeat-rate 35
    }
    touchpad {
        natural-scroll
        accel-speed 0.2
        drag false
    }
}

output "eDP-1" {
    mode "1920x1080@57.305"
    scale 1.5
    transform "normal"
    position x=0 y=0
}

environment {
    GDK_SCALE "1"
    QT_QPA_PLATFORMTHEME "gtk3"
    XDG_SESSION_TYPE "wayland"
    XDG_CURRENT_DESKTOP "Niri"
    LIBVA_DRIVER_NAME "iris"
}
cursor {
    xcursor-size 24
    xcursor-theme "BreezeX-Black"
    hide-when-typing
}

layout {
    gaps 10
    center-focused-column "never"
    background-color "transparent"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.67; }

    focus-ring {
      active-color "#80808080"
      width 1
    }
    
    shadow {
        on
        softness 20
        spread 3
        offset x=0 y=5
        color "#0009"
    }
}

spawn-sh-at-startup "walker --gapplication-service"
spawn-sh-at-startup "swaybg --image /home/segfault/Pictures/wp/wallhaven-vppjqp.png"
// spawn-sh-at-startup "dbus-launch /usr/libexec/xdg-desktop-portal"
// spawn-sh-at-startup "dbus-launch /usr/libexec/xdg-desktop-portal-gtk"
spawn-at-startup "xwayland-satellite"
spawn-at-startup "mako"
spawn-at-startup "pipewire"
spawn-at-startup "pipewire-pulse"
spawn-at-startup "wireplumber"
// spawn-at-startup "quickshell"
spawn-at-startup "waybar"

prefer-no-csd
screenshot-path "~/Pictures/screens/scr_%Y-%m-%d_%H-%M-%S.png"

hotkey-overlay {
    skip-at-startup
}

animations {
    // off
    slowdown 1
}

window-rule {
    match title="Volume Control"
    open-floating true
}
window-rule {
    geometry-corner-radius 5
    clip-to-geometry true
}

window-rule {
    match app-id=r#"zen$"# title="^*Save Image*$"
    open-floating true
    max-width 800
    max-height 600
}

// layer-rule {
//     match namespace="^wallpaper$"
//     place-within-backdrop true
// }
layer-rule {
    match namespace="^launcher$"
    match namespace="^notifications$"
    shadow {
        on
        softness 20
        spread 3
        offset x=0 y=5
        color "#0009"
        draw-behind-window true
    }
}

overview {
    backdrop-color "#121212"
    zoom 1
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+Return repeat=false hotkey-overlay-title="Open a Terminal" { spawn "kitty"; }
    Mod+D hotkey-overlay-title="Run an Application" { spawn "walker"; }
    // Mod+Shift+L hotkey-overlay-title="Lock the Screen" { spawn "swaylock"; }

    Mod+E { spawn-sh "kitty yazi"; }
    Mod+W repeat=false { spawn "~/.local/share/zen/zen"; }
    Mod+V { spawn "pavucontrol"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    // XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    // XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    // XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    // XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }

    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    Mod+O repeat=false { toggle-overview; }
    Mod+Q repeat=false { close-window; }

    Mod+R repeat=false { switch-preset-column-width; }

    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }

    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+J     { move-window-down; }
    Mod+Ctrl+K     { move-window-up; }
    Mod+Ctrl+L     { move-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+Shift+H     { focus-monitor-left; }
    Mod+Shift+J     { focus-monitor-down; }
    Mod+Shift+K     { focus-monitor-up; }
    Mod+Shift+L     { focus-monitor-right; }

    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-window-to-workspace 1; }
    Mod+Shift+2 { move-window-to-workspace 2; }
    Mod+Shift+3 { move-window-to-workspace 3; }
    Mod+Shift+4 { move-window-to-workspace 4; }
    Mod+Shift+5 { move-window-to-workspace 5; }
    Mod+Shift+6 { move-window-to-workspace 6; }
    Mod+Shift+7 { move-window-to-workspace 7; }
    Mod+Shift+8 { move-window-to-workspace 8; }
    Mod+Shift+9 { move-window-to-workspace 9; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    Mod+Ctrl+F { expand-column-to-available-width; }
    Mod+C { center-column; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+Space       { toggle-window-floating; }
    Mod+Shift+Space { switch-focus-between-floating-and-tiling; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
    Mod+Shift+E { quit; }
    Mod+Shift+P { power-off-monitors; }
}
